.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  top: 5px;
  background-color: #F6F6F7;
  width: 100%;
  text-align: right;
}

.item {
  display: flex;
  flex-direction: flex-start;
  padding: 20px;
  margin: 20px;
  max-width: 600px;
}

.product-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  max-width: 600px;
}

.product-card img {
  max-width: 200px;
  height: auto;
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  .item {
    width: 100%;
    height: auto;
  }
}


@media (min-width: 481px) and (max-width: 768px) {
  .item {
    width: 80%; 
    height: auto;
  }
}

@media (max-width: 768px) {
  .item {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .item {
    width: 80%;
    height: auto;
  }
}

@media (min-width: 1025px) {
  .item{
    width: 100%;
    height: auto;
  }
}

.product-info {
  flex: 1;
  margin-bottom: 20px;
}

.product-info h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.product-info p {
  font-size: 16px;
  margin-bottom: 10px;
}

.required:after {
  content:"*";
  color: #C90000;
}

.add-to-cart {
  margin-top: 20px;
}

.product-info label {
  margin-right: 10px;
}

.product-card button {
  background-color: #cec9c9;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.product-card button:hover {
  background-color: #222222;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.modal-content h2 {
  margin-bottom: 10px;
}

.modal-content ul {
  list-style: none;
  padding: 0;
}

.modal-content li {
  margin-bottom: 5px;
}

.modal-content button {
  margin-top: 10px;
}

.error-message {
  color: #c90000;
}
